= dropdown(variation: :dropleft) do
  - if edit_action && EffectiveDatatables.authorized?(self, :edit, resource)
    = dropdown_link_to 'Edit', effective_resource.action_path(:edit, resource), title: "Edit #{resource}"

  - if show_action && EffectiveDatatables.authorized?(self, :show, resource)
    = dropdown_link_to 'View', effective_resource.action_path(:show, resource), title: resource.to_s

  - if destroy_action && EffectiveDatatables.authorized?(self, :destroy, resource)
    = dropdown_link_to "Delete #{resource}", effective_resource.action_path(:destroy, resource),
      title: "Delete #{resource}", data: { method: :delete, confirm: "Delete #{resource}?" }
